.donors-page h2 {
  font-weight: 700;
  color: #343a40;
}

.donor-stats .stat-card h5 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.donor-stats .stat-card h3 {
  font-size: 2rem;
  font-weight: bold;
}

.table th,
.table td {
  vertical-align: middle;
}

.table td .btn {
  font-size: 0.8rem;
}
.form-control {
  border-radius: 0.5rem;
  border: 1px solid #ced4da;
  padding: 0.5rem 1rem;
  transition: border-color 0.3s ease;
}
.input-group-text {
  border-radius: 0.5rem;
  border: 1px solid #ced4da;
  height: 43px;
}
