.blood-footer {
    background:linear-gradient(to right, #343131, #797474);
    color: white;
    padding-top: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  
  .footer-brand h4 {
    font-weight: 700;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 8px;
  }
  
  .footer-links ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .footer-links ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-contact p {
    margin-bottom: 10px;
  }
  
  .social-icons a {
    margin-right: 12px;
    font-size: 1.2rem;
    color: white;
    transition: transform 0.3s ease;
  }
  
  .social-icons a:hover {
    transform: scale(1.2);
    color: #ffdada;
  }
  
  .copyright {
    margin-top: 20px;
    font-size: 0.9rem;
  }
  